<div class="dashboard">
    <div class="row row1">
        Welcome to FCT InfoSec
    </div>
    <div class="row row2">
        <div class="incidents">
        390 Incidents     </div>
        <div class="projects">
            30 Projects
        </div>
        <div class="endpoints">
            1456 endpoints
        </div>
    </div>
    <div class="row row3">
        <table class="table">
            <thead>
              <tr>
                <th class="col-3">#</th>
                <th class="col-3">Source</th>
                <th class="col-3">Duration</th>
                <th class="col-3">Incidents</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>XDR</td>
                <td>30 days</td>
                <td>256</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Sentinel</td>
                <td>30 days</td>
                <td>523</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Defender</td>
                <td>30 days</td>
                <td>96</td>
              </tr>
            </tbody>
          </table>
        </div>
</div>