<div class="login-container">
    <div class="login-left">
      <form [formGroup]="form">
        <label for="email">User Name</label>
        <input formControlName="login"  placeholder="username">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" name="password" placeholder="******">
        <button type="submit" [disabled]="form.invalid" (click)="auth()" class="btn btn-signin">Sign In</button>
      </form>
    </div>
    
  </div>